/*
IMPORTS
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Poppins&display=swap');

/*
VARIABLES
*/

:root{
  --color-claro: #e4e3e3;
  --color-medio: #84a9ac;
  --color-medioOscuro: #3b6978;
  --color-oscuro: #204051;
}

/*
GENERAL
*/

*{
  box-sizing: border-box;
  margin: 0;
}
body{
  width: 100%;
}
.home a {
  text-decoration: none;
  color: var(--color-oscuro)
}
.home li {
  list-style: none;
}

@import url('./banner.css');

.home h1 {
  font-family: 'Baloo Da 2';
  text-transform: uppercase;
  color: var(--color-oscuro);
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  margin: 20px;
}


@import url('./productslider.css');

/* CATEGORIAS */

.home section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home .categorias section img {
  width: 80vw;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid var(--color-medio);
}

.home .banner img{
  margin: 30px 0px;
  width: 100vw;
}