/*
IMPORTS
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Poppins&display=swap');

/*
VARIABLES
*/

:root{
  --color-claro: #e4e3e3;
  --color-medio: #84a9ac;
  --color-medioOscuro: #3b6978;
  --color-oscuro: #204051;
}

/*
GENERAL
*/

*{
  box-sizing: border-box;
  margin: 0;
}
body {
  width: 100%;
}

.home li {
  list-style: none;
}

.home h1 {
  font-family: 'Baloo Da 2';
  text-transform: uppercase;
  color: var(--color-oscuro);
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.home .ofertas {
  margin-top: 60px;
}

/* CATEGORIAS */

.home .categoriashome section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home .categoriashome section a{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: none;

}

.home .categoriashome section img {
  width: 100%;
  margin: 10px;
  border-radius: 20px;
  border: 1px solid var(--color-medio);
}

.home .banner_desktop img{
  display: none;
}

.home .banner_movil img{
  width: 100%;
  margin: 40px 0px;
}


/* MEDIA */

@media (min-width:576px){
  .home .banner_movil img{
    display: none;
  }
  .home .banner_desktop img{
    display: flex;
    width: 100%;
    margin: 80px auto;
    max-width: 1200px;
  }
  .home .ofertas {
    margin-top: 100px;
  }
}

@media (min-width:768){
  
}

@media (min-width: 992px) {

}