<div class="contenedor-addProdLog background-cargando none" id="addProdLog">
    <div>
        <h5>Para agregar un producto al carrito debes iniciar sesión</h5>
        <a href="/users/login">Iniciar sesión</a>
        <span id="addProdLog-exit"><i class="fas fa-times"></i></span>
    </div>
</div>