/* GENERAL PRODUCT ADD */

.edicion{
  max-width: 100%;
  border: 1px solid var(--color-medio);
  padding: 5px;
  .row{
      margin:0;
    }
    a{
      color: var(--color-medioOscuro)
    }
} 

/* NAVEGACION */
.edicion {
  justify-content: center;
  width: 100%;
  a{
      text-decoration: none;
      color: var(--color-medioOscuro);
  }
  ul{
      li{
          list-style: none;
      }
  }
}

.edicion .nav {
  width: 100%;
  padding: 5px;
  ul{
      width: 100%;
      display: inline-flex;
      justify-content: space-evenly;
      padding: 0;
      li{
      a:hover{
        color: var(--color-oscuro);
        transition: color .3s ease;
      }
    }
  }

}

/* CUERPO */

.edicion{

  .cuerpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    border: 1px solid var(--color-medio);
    border-radius: 10px;

    .titulo{
      width: 100%;
      font-family: poppins;
      color: var(--color-oscuro);
      font-size: 1.5em;
      text-align: center;
      padding: 0;

    }
    .datos{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    
      padding: 0;
      font-family: poppins;
      color: var(--color-medioOscuro);
      .seccion1{
        display: flex;
        flex-direction: column;
        width: 100%;
        label{
          width: 100%;
        }
        .input{
          text-align: center;
          margin: 5px;
          input{
            border: 1px solid var(--color-medioOscuro);
            border-radius: 50px;
            color: var(--color-medioOscuro);
            width: 100%;
          }
        }
      }
      .seccion2{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        label{
          width: 100%;
        }
        .input{
          text-align: center;
          margin: 5px;
          input{
            border: 1px solid var(--color-medioOscuro);
            border-radius: 50px;
            color: var(--color-medioOscuro);
            width: 100%;
          }
        }
      }
      .descripcion{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        label{
          width: 100%;
          text-align: center;;
        }
        textarea{
          padding: 10px;
          border-radius: 20px;
          border: 1px solid var(--color-medioOscuro);
          color: var(--color-medioOscuro);
        }
      }
    }
    .guardar{
      width: 100%;
      display: flex;
      justify-content: center;
      button{
        border-radius: 50px;
        border: 1px solid var(--color-medioOscuro);
        color: white;
        background-color: var(--color-medioOscuro);
        font-weight: bold;
        text-transform: uppercase;
        margin: 10px;
      }
    }
  }
}