<%- include('partials/head.ejs') %> 
<body>
  
  <%- include('partials/header.ejs') %>
  
  <div class="home">
   
   <!-- CARROUSEL--> 
   <div class="carrousel">
     <img src="images/banner_artistica.jpg" alt="">
   </div>

   <!-- OFERTAS -->

   <main>
     <div class="ofertas">
       <h1>
         ofertas destacadas
       </h1>
       <img src="" alt="">
     </div>
     
     <!-- CATEGORIAS -->
     <div class="categorias">
        <section>     
         <a href="category/"><img src="images/banner_escolar.jpg" alt="escolar"></a>
        </section>   
        <section>
        <a href="category/"><img src="images/banner_artistica.jpg" alt="escolar"></a>
      </section>
      <section>
        <a href="category/"><img src="images/banner_oficina.jpg" alt="escolar"></a>
      </section>
         
     </div>
    
     <!-- BANNER -->

     <div class="banner">
       <img src="images/casa.png" alt="quedate en casa">
     </div>

   </main>
  </div>



  <%- include('partials/footer.ejs') %>

  <!-- JQUERY -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <!-- POPPER -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <!-- BOOTSTRAP -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <!-- CUSTOM JS -->
  <script src="javascripts/index.js"></script>
  </body>
</html>
