<%- include('partials/head.ejs') %>

<body>

    
    <div class="registro">
        <div class="logo">
            <a href="/">
                <img src="/images/logo.png" alt="Artística Dalí">
            </a>
        </div>
        <div class="ventanas">
            <h3 id="is" class="active">INICIAR SESIÓN</h3>
            <h3 id="cc" class="">CREAR CUENTA</h3>
        </div>
        <div class="inicio-sesion" id="inicio-sesion">
            <form action="/users/login" method="POST">
                <div>
                    <label for="emailInicio">Email</label>
                    <input type="email" name="email" id="emailInicio" placeholder="dalí@ejemplo.com" spellcheck="false" required>
                </div>
                <div>
                    <label for="passwordInicio">Contraseña</label>
                    <input type="password" name="password" id="passwordInicio" maxlength="25" spellcheck="false" required>
                    <i class="fas fa-eye fa-lg view-pass" id="btn-pass-1"></i>
                </div>
                <a href="#">¿Olvidaste tu contraseña?</a>
                <button type="submit">Ingresar</button>
            </form>
        </div>
        <div class="crear-cuenta none" id="crear-cuenta">
            <form action="/users/login/create" method="POST">
                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" placeholder="Artística" spellcheck="false" required>
                </div>
                <div>
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" id="apellido" placeholder="Dalí" spellcheck="false" required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="dalí@ejemplo.com" spellcheck="false" required>
                </div>
                <div>
                    <label for="passwordRegistro">Contraseña</label>
                    <input type="password" name="password" id="passwordRegistro" maxlength="25" spellcheck="false" required>
                    <i class="fas fa-eye fa-lg view-pass" id="btn-pass-2"></i>
                </div>
                <div>
                    <label for="passwordRepeat">Repetir contraseña</label>
                    <input type="password" name="passwordRepeat" id="passwordRepeat" maxlength="25" spellcheck="false" required>
                    <i class="fas fa-eye fa-lg view-pass" id="btn-pass-3"></i>
                </div>
                <div class="terminos">
                    <input type="checkbox">Acepto los términos y condiciones.
                </div>
                <button type="submit">Crear Cuenta</button>
            </form>
        </div>
        <div class="redes">
            <hr>
            <p>O ingresa con</p>
            <div>
                <a href="#" class="google"><img src="/images/registro/google.png" alt=""><span>GOOGLE</span></a>
                <a href="#" class="facebook"><img src="/images/registro/facebook.png" alt=""><span>FACEBOOK</span></a>
            </div>
        </div>
    </div>

    
    <script src="/javascripts/registro.js"></script>
  
    <%- include('partials/scripts.ejs') %> 