<div class="header">
    <header class="container">
        <div class="row">
            <div id="nav-btn" class="nav-btn col-2">
                <span id="nav-icon" class="nav-icon"></span>
            </div>
            <div class="logo col-8 col-sm-6 col-md-12 col-lg-3">
                <a href="/"><img src="/images/logo/logo.png" alt="Artística Dalí"></a>
            </div>
            <div id="buscador-icon" class="buscador-icon col-2">
                <i id="icon-buscador" class="fas fa-search"></i>
            </div>
            <div id="buscador" class="buscador col-12 col-sm-4 col-md-3 col-lg-3">
                <form action="/products/search" class="buscar" method="GET">
                    <input type="text" placeholder="Buscar" name="search">
                    <button type="submit"><i class="fas fa-search "></i></button>
                </form>
            </div>
            <div id="nav" class="nav col-12 col-md-8 col-lg-6">
                <div id="menu" class="menu">
                    <ul>
                        <li id="escolar">ESCOLAR <i class="fas fa-angle-down"></i></li>
                        <li id="artistica">ARTISTICA <i class="fas fa-angle-down"></i></li>
                        <li id="oficina">OFICINA <i class="fas fa-angle-down"></i></li>
                        <li><a href="#">CONTACTO</a></li>
                    </ul>
                </div>
                <div class="icons">
                    <ul>
                        <li><a href="/users" class="user"><i class="fas fa-user"></i></a></li>
                        <li><a href="/products/cart" class="cart"><i class="fas fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="subcategorias" class="subcategorias">
            <div id="escolar-categorias" class="categoria">
                <div class="subcategoria">
                    <a class="tit-cat" href="/products/category/1">ESCOLAR</a>
                    <ul>
                        <li><a href="#">Carpetas</a></li>
                        <li><a href="#">Cartucheras</a></li>
                        <li><a href="#">Crayones</a></li>
                        <li><a href="#">Cuadernos</a></li>
                        <li><a href="#">Gomas</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Guillotinas</a></li>
                        <li><a href="#">Marcadores</a></li>
                        <li><a href="#">Repuestos</a></li>
                        <li><a href="#">Bases de corte</a></li>
                        <li><a href="#">Block</a></li>
                    </ul>
                </div>
                <span ><i id="atras-escolar" class="fas fa-times atras"></i></span>
            </div>
            <div id="artistica-categorias" class="categoria">
                <div class="subcategoria">
                    <a class="tit-cat" href="/products/category/2">ARTISTICA</a>
                    <ul>
                        <li><a href="#">Carpetas</a></li>
                        <li><a href="#">Cartucheras</a></li>
                        <li><a href="#">Crayones</a></li>
                        <li><a href="#">Cuadernos</a></li>
                        <li><a href="#">Gomas</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Guillotinas</a></li>
                        <li><a href="#">Marcadores</a></li>
                        <li><a href="#">Repuestos</a></li>
                        <li><a href="#">Bases de corte</a></li>
                        <li><a href="#">Block</a></li>
                    </ul>
                </div>
                <span ><i id="atras-artistica" class="fas fa-times atras"></i></span>
            </div>
            <div id="oficina-categorias" class="categoria">
                <div class="subcategoria">
                    <a class="tit-cat" href="/products/category/3">OFICINA</a>
                    <ul>
                        <li><a href="#">Carpetas</a></li>
                        <li><a href="#">Cartucheras</a></li>
                        <li><a href="#">Crayones</a></li>
                        <li><a href="#">Cuadernos</a></li>
                        <li><a href="#">Gomas</a></li>
                    </ul>
                    <ul>
                        <li><a href="#">Guillotinas</a></li>
                        <li><a href="#">Marcadores</a></li>
                        <li><a href="#">Repuestos</a></li>
                        <li><a href="#">Bases de corte</a></li>
                        <li><a href="#">Block</a></li>
                    </ul>
                </div>
                <span ><i id="atras-oficina" class="fas fa-times atras"></i></span>
            </div>
        </div>
    </header>
</div>